html {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*Globales*/


img {
  max-width: 100%;
  vertical-align:top;
  /*quita los margenes a la img*/
  display: block;
}
a {
  text-decoration: none;
  color: black;
}
/*nos permite centrar el contenido*/

.contenedor {
  max-width: 1200px;
  margin: 0 auto;
}
/*header y navegacion*/
nav {
  text-align: center;
}

.nombre-sitio {
  margin: 40px;
  padding: 40px;
  text-align: center;
}

.nombre-sitio span {
  color: #64b6e5;
}
.contenedor-nav {
  border-color: #e1e1e1;
  border-top-style: solid;
  border-width: 1px;
}
.nav-principal {
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
}
.hero {
  background-image: url(../img/principal.jpg);
  background-repeat: no repeat;
  background-size: cover;
  background-position: center center;
  height: 550px;
}

/*BOX MODEL*/

.sobre-nosotros {
  background-color: red;
  padding: 20px;
  width: 200px;
  box-sizing: border-box;
}
/*display block in line*/

/*categorias*/
.categorias h2{
  text-align: center;
}
.categoria a{
  display: block;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}
.categoria a:hover{
background-color: #037bc0 ;
color: #fff;
font-size: 25px;
border-bottom-right-radius: 10px ;
}
.listado-categoria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
