html {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/*Globales*/
body{
  font-family: "raleway",sans-serif;
  /*para que la base sea de 16px*/
  font-size: 1.6rem;
  
}
img {
  max-width: 100%;
   /*quita los margenes a la img*/
  display: block;
}
a {
  text-decoration: none;
  color: black;
}
/*nos permite centrar el contenido*/
.contenedor {
  max-width: 200rem;
  margin: 0 auto;
}
/*header y navegacion*/
nav {
  text-align: center;
}
header{
  font-size: 3rem;
  
}

.nombre-sitio {
  margin-top: 4rem ;
  margin-top: 4rem;
  text-align: center;
  font-size: 4rem;
}

.nombre-sitio span {
  color: #64b6e5;
}
.contenedor-nav {
  border-color: #e1e1e1;
  border-top-style: solid;
 
}
.nav-principal {
  padding: 2rem 0;
  display: flex;
  justify-content: space-around;
}
.hero {
  background-image: url(../img/principal.jpg);
  background-repeat: no repeat;
  background-size: cover;
  background-position: center center;
  height: 55rem;
}

/*BOX MODEL*/

.sobre-nosotros {
  background-color: red;
  padding: 2rem;
  width: 20rem;
  box-sizing: border-box;
}
/*display block in line*/

/*categorias*/
.categorias h2{
  text-align: center;
}
.categoria a{
  display: block;
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
}
.categoria a:hover{
background-color: #037bc0 ;
color: #fff;
font-size: 2.5rem;
border-bottom-right-radius: 1rem ;
}
.listado-categoria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
