html {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
  font-family: "raleway",sans-serif;
  /*para que la base sea de 16px*/
  font-size: 1.6rem;
  line-height: 1.5;
  
}
/*Globales*/
img {
  max-width: 100%;
   /*quita los margenes a la img*/
  display: block;
}

h1, h2, h3{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 0 5rem 0;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
a {
  text-decoration: none;
  color: black;
}
/*nos permite centrar el contenido*/
.contenedor {
  max-width: 200rem;
  margin: 0 auto;
}
/*header y navegacion*/
nav {
  text-align: center;
}
header{
  font-size: 3rem;
  
}

.nombre-sitio {
  margin-top: 4rem ;
  margin-top: 4rem;
  text-align: center;
  font-size: 4rem;
}

.nombre-sitio span {
  color: #64b6e5;
}
.contenedor-nav {
  border-color: #e1e1e1;
  border-top-style: solid;
 
}
.nav-principal {
  padding: 2rem 0;
  display: flex;
  justify-content: space-around;
}
.hero {
  background-image: url(../img/principal.jpg);
  background-repeat: no repeat;
  background-size: cover;
  background-position: center center;
  height: 55rem;
}

/*BOX MODEL*/


/*display block in line*/

/*categorias*/

.categorias h2{
  padding-top: 5rem;
  text-align: center;
}
.categoria a{
  display: block;
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
}
.categoria a:hover{
background-color: #037bc0 ;
color: #fff;
font-size: 2.5rem;
border-bottom-right-radius: 1rem ;
}
.listado-categoria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
/*sobre-nosotros*/
.sobre-nosotros{
  background-image: linear-gradient(to right, transparent 50%,#037bc0 50%,#037bc0 100%), url(../img/nosotros.jpg);
  padding: 20rem 0;
  background-position: left center;
  background-repeat: no-repeat;
  /*el linear-garadient tiene un crecimiento del 100%
  y el background-size tambien, lo que hacia la imagen muy grande. por eso se pone la coma*/
  background-size: 100%, 180rem;

}
.sobre-nosotros-grid{
  display: flex;
  justify-content: flex-end;

}
.texto-nosotros {
    flex-basis: 50% ;
    padding-left: 10rem;
    color: white;
}
 
